<form action="fakePage.html" method="POST">

<!--Left Side-->

	<div style="float:left; text-align:right;">
	First Name:<br><br>
	Last Name:<br><br>
	Email:<br><br>
	Type of License:<br><br>
	Reason:<br><br><br>
	Additional Information:<br><br>
	</div>

<!--Right Side-->
	<div style="margin-left:175px;">
		<input type="text" name="firstName" style="border:2px solid;"><br><br>
		

		<input type="text" name="lastName" style="border:2px solid;"><br><br>
		

		<input type="text" name="clientEmail" style="border:2px solid;"><br><br>
		

		<input type="radio" name="licenseType" value="Business"> Business
		<input type="radio" name="licenseType" value="Personal"> Personal <br><br>
		

		<select name="reasonSupport" style="border:2px solid;">
			<option value="">1. Select a Reason</option>
			<option value="Software Support">2. Software Support</option>
			<option value="Hardware Support">3. Hardware Support</option>
			<option value="Information Request">4. Information Request</option>
		</select><br><br>
		
		
		<textarea rows=10 cols=35 name="Additional Info" style="border:2px solid;">
			
		</textarea><br><br>
		
		
		<input type="checkbox" name="termsOfService" value="true">I have read the terms of service.<br><br>

		<input type="submit" value="Send Request" style="border:2px solid; margin-left:50px; border-radius:5px;width:130px; background-color:white">
	</div>

</form>