#artistPic{
  height: 300px;
  width: 350px;
}

.centerImg{
   display:block;
    margin: auto;
}

.centerText{
  text-align: center;
}
#listHeading{
text-align: center;
}
th{
    background-color: gray
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table{
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
caption{
    border:1px solid black;
    border-bottom: none;
}

.chewyFont{
    font-family: chewy,cursive;
}
.img-circle{
    height: 300px;
    width: 400px;
    margin: auto;
    background-image: url(tangledupalbumcover.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.italicText{
    font-style: italic;
}

table.albumTable{
    background-color: lightskyblue;
}

table.albumTable tr td{
    font-style: italic;
}