html {
    height: 100%;
    box-sizing: border-box;
}

html body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

#nameBanner {
    margin-top: 5px;
    text-align: center;
    font-size: 3em;
    font-family: 'Passion One', cursive;
}

button.navbar-toggle {
    float: left;
}

#mainFooter {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
}

.footer {
    text-align: center;
}

div#mainFooter hr {
    border: none;
    height: 2px;
    color: black;
    background-color: black;
}
